/* SELECTORUL 'BODY' */
body {
  height: 100vh;

  /* AFISARE 'FLEX' */
  display: flex;

  /* ALINIEREA PT. 'FLEX' */
  justify-content: center;
  align-items: center;
}

/* SELECTORUL 'A' (PT. STILIZAREA BUTONULUI) */
a {
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid #351435;
  padding: 40px 80px;
  position: relative;
  transition: all 1s;

  /* ASCUNDEM SUPRAPUNEREA PSEUDO-ELEM. 'A:BEFORE' */
  overflow: hidden;
}

/* HOVER - SELECTORUL 'A'  */
a:hover {
  color: white;
}

/* PSEUDO-SELECTORUL 'A:BEFORE' (PT. ADG. DE CONTINUT - IN FATA ELEM. 'A') */
a:before {
  /* NU ADAUGAM TEXT - CI DOR EFECTUL DIN PROP. URMATOARE */
  content: "";

  /* POZITIONAREA 'PUNCTULUI' */
  position: absolute;

  /* ORIZONTALA: STAMGA  */
  left: 0;

  /* VERTICALA: SUS  */
  top: 0;

  /* CONF. PSEUDO-ELEM. 'BEFORE' */
  height: 100%;
  width: 100%;
  background-color: #351435;

  /* POZITIONAM CONTINUTUL ':BEFORE' - PE AXA 'Z' IN SPATELE TEXTULUI BTN */
  z-index: -1;

  /* POZITIA - EFECTUL DE TRANSF. PRIN FUNCT. TRANSLATEX(-X) 
     (PT. A MUTA ELEM. DIN 'DREAPTA IN STANGA') */
  /* transform: translateX(-100%); */

  /* EFECTUL DE TRANSF. PRIN FUNCT. TRANSLATEX(-X) 
  (PT. A MUTA ELEM. DIN 'STANGA IN DREAPTA') */
  /* transform: translateX(100%); */

  /* EFECTUL DE TRANSF. PRIN FUNCT. TRANSLATEY(Y) 
     (PT. A MUTA ELEM. DE 'JOS IN SUS') */
  /* transform: translateY(100%); */

  /* EFECTUL DE TRANSF. PRIN FUNCT. TRANSLATEY(-Y) 
     (PT. A MUTA ELEM. DE 'SUS IN JOS') */
  transform: translateY(-100%);

  /* DURATA DE TIMP A TRANSFORMARI */
  transition: all 1s;
}

/* HOVER - PSEUDO-SELECTORUL 'A:BEFORE' */
a:hover:before {
  /* POZITIA - EFECTUL DE TRANSF. PRIN FUNCT. TRANSLATEX(0)  */
  /* transform: translateX(0); */

  /* POZITIA - EFECTUL DE TRANSF. PRIN FUNCT. TRANSLATEY(0)  */
  transform: translateY(0);
}
