/* BUTON */
button {
  height: 90px;
  width: 290px;
  font-size: 29px;
  color: white;
  border: none;
  background: blue;

  /* (1) PROP. 'TRANSITION-PROPERTY' 
  (APLICATA MAI MULTOR PROPS. PE CARE DORIM SA LE MODIFICAM) */
  /* transition-property: background-color color width; */

  /* KEYWORD-UL 'ALL' 
     (PT. INCLUDEREA MAI MULTOR PROPS. IN TRANZITIE) */
  /* transition-property: all; */

  /* (2) PROP. 'TRANSITION-DURATION' 
  (SPECIFICA 'DURATA DE TIMP' IN CARE PROP. AJUNGE
   DIN STAREA 'INITIALA' IN STAREA 'FINALA') */
  /* transition-duration: 1s; */

  /* PROP. 'TRANSITION' (FORMA SCURTA) */
  /* SINTAXA:
     TRANSITION: PROPIETATE  DURATA  TIP_TRANZ  INTARZIERE/DELAY  */
  transition: background-color 3s ease-in-out 1s, color 2s ease 4s,
    border-radius 4s ease-out 6s;
}

/* HOVER - BUTON */
button:hover {
  background-color: green;
  color: black;
  /* width: 600px; */
  border-radius: 50%;
}
