/* ======================================================
    ELEM. 'BODY'
========================================================= */
body {
  margin: 0;
}

/* ======================================================
    ELEM. 'DIV'
========================================================= */
div {
  width: 150px;
  height: 150px;
  background-color: red;

  /* ADAUGAREA  'ANIMATIEI' (CREATA IN '@KEYFRAME') */
  /* NUMELE ANIMATIEI (SAU 'FUNCTIEI') */
  animation-name: moving;

  /* DURATA ANIMATIEI */
  animation-duration: 3s;

  /* PROP. 'ANIMATION-FILL-MODE' 
     (SPECIFICA BROWSER-ULUI DE UNDE SA 'PORNEASCA' SI UNDE SA 'INCHEIE') */

  /* (1) VAL. 1 - 'NONE' [DEFAULT] ('BROWSERUL' - 'NU FACE NIMIC' DUPA 'INCHEIEREA ANIMATIEI') */
  /* animation-fill-mode: none; */

  /* (2) VAL. 2 - 'FORWARDS' ('BROWSERUL' - PREIA 'ULTIMA SCENA' A 'ANIMATIEI') */
  /* animation-fill-mode: forwards; */

  /* (3) VAL. 3 - 'BACKWARDS' ('BROWSERUL' - PREIA 'SCENA DE PORNIRE' A 'ANIMATIEI') */
  /* animation-fill-mode: backwards; */

  /* (4) VAL. 4 - 'BOTH' ['FORWARDS' & 'BACKWARDS'] 
   ('BROWSERUL' - PREIA 'DOR SCENELE' CREATE IN '@KEYFRAME') */
  animation-fill-mode: both;

  /* PROP. 'ANIMATION-ITERATION-COUNT' 
  (SPEC. 'NR. DE REPETARI' ALE 'ANIMATIEI') */
  /* animation-iteration-count: 1; */
  animation-iteration-count: infinite;

  /* PROP. 'ANIMATION-DIRECTION' 
  (SPEC. DIRECTIA ANIMATIEI) */

  /* (1) 'NORMAL' [DEFAULT] 
  (SPEC. 'RULAREA ANIMATIEI' DE LA 'INCEPUT' LA 'SFARSIT') */
  /* animation-direction: normal; */

  /* (2) 'REVERSE'  
  (SPEC. 'RULAREA ANIMATIEI' IN SENS 'INVERS'  DE LA 'SFARSIT' LA 'INCEPUT') */
  /* animation-direction: reverse; */

  /* (3) 'ALTERNATE' 
  (SPEC. 'RULAREA ANIMATIEI' 
   DE LA 'INCEPUT' LA 'SFARSIT' 
   & 'INVERS'  DE LA 'SFARSIT' LA 'INCEPUT') */
  /* animation-direction: alternate; */

  /* (4) 'ALTERNATE-REVERS' 
  (SPEC. 'RULAREA ANIMATIEI' 
   DE LA  'SFARSIT'   LA  'INCEPUT' 
   & 'INVERS'  DE LA 'INCEPUT' LA 'SFARSIT') */
  animation-direction: alternate-reverse;
}

/* ======================================================
    @CADRU CHEIE 'MOVING' (ASEMANATOR CU 'FUNCTIA')
    (PAS. 1 - DEF. REGULII DE ANIMATIE)
========================================================= */
@keyframes moving {
  /* (SCENA 1) KEYWORD '0%'  (DIN 'DURATA DE TIMP A SCHIMBARI') */
  0% {
    /* POZITIA 'INITIALA' - PE AXA 'X' */
    transform: translateX(500px);
  }

  /*  (SCENA 2) KEYWORD '10%' (DIN 'DURATA DE TIMP A SCHIMBARI')  */
  50% {
    /* MUTAREA PE POZITIA '1000 PX' - PE AXA 'X'  */
    transform: translateX(1000px);
  }

  /*  (SCENA 3) KEYWORD '100%' (DIN 'DURATA DE TIMP A SCHIMBARI') */
  100% {
    /* MUTAREA PE POZITIA '1000 PX' - PE AXA 'X'  */
    transform: translate(1000px, 500px);
  }
}
